.auth {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000090;
    display: grid;
}

.auth-container {
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.auth-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.auth-title img {
    width: 16px;
    cursor: pointer;
}

.auth-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth-inputs input {
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}

.auth-container button {
    background-color: tomato;
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.auth-condition {
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}

.auth-condition input {
    margin-top: 5px;
}

.auth p span {
    color: tomato;
    cursor: pointer;
}
