.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.navbar .logo{
    width: max(10%,80px);
}


.navbar-profile{
    position: relative;

}
.navbar-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}
.navbar-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.navbar-profile-dropdown img{
    width: 20px;
}
.navbar-profile-dropdown li:hover{
    color: #FF4C24;
}
.navbar-profile:hover .navbar-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid tomato;
    outline: 2px solid white;
    list-style: none;
}
.navbar-profile hr{
    background-color: gray;
    height: 1px;
    border: none;
}
.navbar-profile-dropdown .username {
    padding: 5px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #ddd;
    text-align: center;
    font-size: 12px;
}
.navbar-profile-dropdown .user-info {
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
}

.navbar-profile-dropdown .user-name {
    font-weight: bold;
}
